@charset "UTF-8";
/* FUENTE, TITULOS, SUBTITULOS, PARRAFOS */
@font-face {
  font-family: pantonRust;
  src: url(../../font/PantonRustHeavy-GrSh.otf);
  font-display: swap;
}
@font-face {
  font-family: montserratItalicBold;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap);
}
p {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: pantonRust;
  letter-spacing: 0.125rem;
  color: #ffffff;
}

/* FIN FUENTES, TITULOS, SUBTITULOS, PARRAFOS */
/* ESTILOS ENLACES DE TEXTO */
.enlace-texto {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.enlace-texto:hover, .enlace-texto:focus {
  background-size: 100% 2px;
  color: #ffffff;
}

/* FIN ESTILOS ENLACES DE TEXTO */
/*DIVOSOR ENTRE SECCIONES*/
hr {
  margin: 20px;
  background-color: #ffffff;
}

/*FIN DIVISOR ENTRE SECCIONES*/
/* ESTILOS NAV */
/* LOGO NAVS */
.logo-pac {
  width: 50px;
}

/* FIN LOGO NAVS*/
/*NAV*/
.navbar {
  position: relative;
  z-index: 1000;
  transition: all ease 0.65s;
}
.navbar a:hover {
  background: #72339b;
  background: linear-gradient(90deg, #72339b 0%, #00b347 44%, #f2652d 100%);
}
.navbar .navbar-brand:hover {
  background: none;
}

.dropdown-item {
  background: #00b347;
  background: linear-gradient(90deg, #00b347 44%, #031d0b 100%);
}
.dropdown-item:hover {
  background-color: #00b347;
}

nav.scroll {
  background: linear-gradient(-45deg, #ee7752, #00b347, #107631, blueviolet);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*FIN ESTILOS NAV*/
/* ESTILOS FOOTER*/
footer {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  position: relative;
  z-index: 1;
  justify-content: space-around;
}
footer div h1,
footer div h6 {
  font-size: 1rem;
}
footer .social-media ul {
  margin: 0 0 10px 0;
  display: flex;
  list-style: none;
}
footer .social-media ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .social-media ul li a .icono-pie {
  width: 1.25rem;
}
footer .social-media ul li .enlace-texto {
  margin: 5px 0 0 10px;
}

/*INICIO FOOTER PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  footer div h1,
footer div h6,
footer div p {
    font-size: 0.5rem;
  }
  footer .enlace-texto {
    display: none;
  }
  footer .social-media ul {
    display: flex;
    flex-direction: row;
  }
  footer .social-media ul li {
    margin: 1vw;
  }
}
/*FIN FOOTER PEQUEÑO*/
/*INICIO FOOTER MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  footer div h1,
footer div h6,
footer div p {
    font-size: 0.7rem;
  }
  footer .enlace-texto {
    display: none;
  }
  footer .social-media ul {
    display: flex;
    flex-direction: row;
  }
  footer .social-media ul li {
    margin: 1vw;
  }
}
/*FIN FOOTER MEDIANO*/
/* FIN ESTILOS FOOTER */
.proxima-entrega-container .entrega-container section, .proxima-entrega-container .entrega-container, .economiaP-container section .ramas-container div div, .noticias-container .novedades-container div div, .index-cuerpo .contacto-index .contacto, .index-cuerpo .titulo-index div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proxima-entrega-container .entrega-container section, .proxima-entrega-container .entrega-container, .economiaP-container section .ramas-container div div, .noticias-container .novedades-container div div, .index-cuerpo .contacto-index .contacto, .index-cuerpo .titulo-index div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

/*COMIENZO ESTILOS INDEX*/
.index-cuerpo {
  background-image: url(../../img/fondos/fondo-index.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.index-cuerpo h2 {
  font-size: 3rem;
}
.index-cuerpo .titulo-index {
  height: 100vh;
}
.index-cuerpo .titulo-index div .navbar .container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.index-cuerpo .titulo-index div .navbar .container-fluid .navbar-brand .logo-pac {
  width: 4rem;
}
.index-cuerpo .titulo-index div h2 {
  margin: 2%;
  text-align: center;
}
.index-cuerpo .definicion-index {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-cuerpo .definicion-index div {
  width: 80%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.index-cuerpo .definicion-index div h2 {
  margin: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.index-cuerpo .definicion-index div p {
  margin: 2rem;
}
.index-cuerpo .definicion-index div .color-parrafo {
  background-color: green;
}
.index-cuerpo .productos-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index-cuerpo .productos-index h2 {
  margin: 1rem;
}
.index-cuerpo .productos-index a {
  text-decoration: none;
}
.index-cuerpo .productos-index a h3 {
  margin: 1rem;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.index-cuerpo .productos-index a h3:hover, .index-cuerpo .productos-index a h3:focus {
  background-size: 100% 2px;
  color: #ffffff;
}
.index-cuerpo .productos-index .card {
  background-color: rgba(0, 0, 0, 0);
  margin: 2%;
}
.index-cuerpo .productos-index .card .card-body {
  background-color: rgba(114, 51, 155, 0.8);
}
.index-cuerpo .productos-index .np-index {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}
.index-cuerpo .contacto-index #contacto .tituloFormulario {
  text-align: center;
  font-size: 3.125rem;
  letter-spacing: 10px;
  padding: 1rem;
}
.index-cuerpo .contacto-index #contacto .formulario-contacto-container {
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar {
  background-color: #107631;
}
.index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar form p {
  margin: 0;
  padding: 0.5em;
}
.index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar form p button,
.index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar form p input,
.index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar form p textarea {
  width: 100%;
  padding: 0.5em;
  border: none;
  background: none;
  border-bottom: 1px solid #00ff00;
  outline: none;
  color: #ffffff;
}
.index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar form p .boton-enviar {
  background: #00b347;
  border: 0;
  text-transform: uppercase;
}
.index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar form p .boton-enviar:hover, .index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar form p .boton-enviar:focus {
  background: #00ff00;
  transition: background-color 1s ease-out;
  outline: 0;
}
.index-cuerpo .contacto-index #contacto .formulario-contacto-container .formulario-completar .entero {
  grid-column: 1/3;
}
.index-cuerpo .contacto-index #contacto .informacion-contacto {
  background-color: #00b347;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-cuerpo .contacto-index #contacto .informacion-contacto h4 li,
.index-cuerpo .contacto-index #contacto .informacion-contacto ul li,
.index-cuerpo .contacto-index #contacto .informacion-contacto p li {
  font-family: "Montserrat", sans-serif;
  padding: 1em;
  list-style: none;
  color: #ffffff;
  text-align: center;
}
.index-cuerpo .espacio {
  height: 20vh;
  background-color: rgba(0, 0, 0, 0);
}

/*INICIO INDEX PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .logo-pac {
    width: 4rem;
  }

  /*Inicio Index pequeño*/
  .index-cuerpo {
    overflow-x: hidden;
  }
  .index-cuerpo h2 {
    text-align: center;
    font-size: 2rem;
  }
  .index-cuerpo .definicion-index {
    overflow-x: hidden;
  }
  .index-cuerpo .definicion-index div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .index-cuerpo .productos-index {
    overflow-x: hidden;
  }
  .index-cuerpo .contacto-index {
    overflow-x: hidden;
  }
  .index-cuerpo .contacto-index #contacto .tituloFormulario {
    font-size: 2rem;
  }
  .index-cuerpo .contacto-index #contacto .formulario-contacto-container {
    display: flex;
    flex-direction: column;
  }
  .index-cuerpo .contacto-index #contacto .formulario-contacto-container .informacion-contacto h4 {
    margin: 1rem;
  }
  .index-cuerpo .contacto-index #contacto .formulario-contacto-container .informacion-contacto ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .index-cuerpo .contacto-index #contacto .formulario-contacto-container .informacion-contacto ul li {
    padding: 0;
    margin: 0;
  }
  .index-cuerpo .contacto-index #contacto p {
    font-size: 0.7rem;
  }
  .index-cuerpo .contacto-index iframe {
    width: 300px;
    height: 200px;
  }
}
/*FIN INDEX PEQUEÑO*/
/*INICIO INDEX MEDIANO*/
/*FIN INDEX MEDIANO*/
/*FIN ESTILOS INDEX*/
.proxima-entrega-container .entrega-container section, .proxima-entrega-container .entrega-container, .economiaP-container section .ramas-container div div, .noticias-container .novedades-container div div, .index-cuerpo .titulo-index div, .index-cuerpo .contacto-index .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*ESTILOS SECCION NOTICIAS*/
.noticias-container {
  background-image: url(../../img/fondos/noticias.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.noticias-container h2,
.noticias-container h3 {
  text-align: center;
  font-size: 3rem;
}
.noticias-container .ultimas-novedades {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 2%;
}
.noticias-container .ultimas-novedades .carousel-item img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}
.noticias-container .novedades-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.noticias-container .novedades-container div {
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: auto;
  margin-left: 4%;
  padding: 2%;
  background-color: rgba(114, 51, 155, 0.8);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.noticias-container .novedades-container div:nth-of-type(even) {
  flex-direction: row-reverse;
  background-color: rgba(242, 101, 45, 0.8);
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 4%;
  margin-left: auto;
}
.noticias-container .novedades-container div img {
  width: 200px;
  height: 200px;
}
.noticias-container .novedades-container div div {
  background-color: rgba(0, 0, 0, 0);
}
.noticias-container .novedades-container div div button {
  background: none;
  color: #ffffff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.noticias-container .novedades-container div div button:hover, .noticias-container .novedades-container div div button:focus {
  background-size: 100% 2px;
  color: #ffffff;
}

/*INICIO NOTICIAS PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .noticias-container h2,
.noticias-container h3 {
    font-size: 2rem;
  }
  .noticias-container .novedades-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .noticias-container .novedades-container div {
    display: flex;
    flex-direction: column;
    margin: 3%;
    align-items: center;
    text-align: center;
  }
  .noticias-container .novedades-container div:nth-of-type(even) {
    flex-direction: column;
  }
  .noticias-container .novedades-container div div h4 {
    font-size: 1.2rem;
  }
  .noticias-container .novedades-container div div p {
    text-align: justify;
    font-size: 1rem;
  }
}
/*FIN NOTICIAS PEQUEÑO*/
/*INICIO NOTICIAS MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .logo-pac {
    width: 5rem;
  }

  .noticias-container h2,
.noticias-container h3 {
    font-size: 3rem;
  }

  .novedades-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .novedades-container div {
    display: flex;
    margin: 3% 0;
    align-items: center;
  }
  .novedades-container div img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .novedades-container div div {
    flex-basis: 90%;
  }
  .novedades-container div div div h4 {
    font-size: 1.2rem;
  }
  .novedades-container div div div p {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
  }
}
/*FIN NOTICIAS MEDIANO*/
/*FIN ESTILOS SECCION NOTICIAS*/
/*ESTILOS SECCIÓN NOSOTROS*/
/* Estilo titulo Nosotros */
.nosotros-container {
  background-image: url(../../img/fondos/nosotros.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* Fin estilo Titulo Nosotros */
  /* Estilo video traido de insta */
  /* Estilo del formulario de contacto en sección "Nosotros" */
}
.nosotros-container .titulo-nosotros h2 {
  text-align: center;
  font-size: 3rem;
}
.nosotros-container .video-que-es-pac {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nosotros-container .video-que-es-pac video {
  width: 700px;
  height: 400px;
  margin: 2%;
}
.nosotros-container .video-que-es-pac p {
  width: 80%;
  background-color: #107631;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 2rem;
  border-radius: 1rem;
}
.nosotros-container #contacto .tituloFormulario {
  text-align: center;
  font-size: 3.125rem;
  letter-spacing: 10px;
  padding: 1rem;
}
.nosotros-container #contacto .formulario-contacto-container {
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.nosotros-container #contacto .formulario-contacto-container .formulario-completar {
  background-color: #107631;
}
.nosotros-container #contacto .formulario-contacto-container .formulario-completar form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nosotros-container #contacto .formulario-contacto-container .formulario-completar form p {
  margin: 0;
  padding: 0.5em;
}
.nosotros-container #contacto .formulario-contacto-container .formulario-completar form p button,
.nosotros-container #contacto .formulario-contacto-container .formulario-completar form p input,
.nosotros-container #contacto .formulario-contacto-container .formulario-completar form p textarea {
  width: 100%;
  padding: 0.5em;
  border: none;
  background: none;
  border-bottom: 1px solid #00ff00;
  outline: none;
  color: #ffffff;
}
.nosotros-container #contacto .formulario-contacto-container .formulario-completar form p .boton-enviar {
  background: #00b347;
  border: 0;
  text-transform: uppercase;
}
.nosotros-container #contacto .formulario-contacto-container .formulario-completar form p .boton-enviar:hover, .nosotros-container #contacto .formulario-contacto-container .formulario-completar form p .boton-enviar:focus {
  background: #00ff00;
  transition: background-color 1s ease-out;
  outline: 0;
}
.nosotros-container #contacto .formulario-contacto-container .formulario-completar .entero {
  grid-column: 1/3;
}
.nosotros-container #contacto .informacion-contacto {
  background-color: #00b347;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotros-container #contacto .informacion-contacto h4 li,
.nosotros-container #contacto .informacion-contacto ul li,
.nosotros-container #contacto .informacion-contacto p li {
  font-family: "Montserrat", sans-serif;
  padding: 1em;
  list-style: none;
  color: #ffffff;
  text-align: center;
}
.nosotros-container iframe {
  margin-right: auto;
  margin-left: auto;
}

/*INICIO NOSOTROS PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .nosotros-container .def {
    font-size: 1rem;
  }
  .nosotros-container .video-que-es-pac video {
    width: 300px;
    height: 150px;
  }
  .nosotros-container ul {
    padding-left: 0;
  }
  .nosotros-container ul li {
    align-items: center;
  }
  .nosotros-container h4 {
    font-size: 0.5rem;
    text-align: center;
  }
  .nosotros-container #contacto .tituloFormulario {
    font-size: 2rem;
  }
  .nosotros-container #contacto .formulario-contacto-container {
    display: flex;
    flex-direction: column;
  }
  .nosotros-container #contacto .formulario-contacto-container .formulario-completar p {
    font-size: 0.8rem;
  }
  .nosotros-container #contacto .formulario-contacto-container .informacion-contacto h4 {
    margin: 1rem;
    font-size: 1rem;
  }
  .nosotros-container #contacto .formulario-contacto-container .informacion-contacto ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .nosotros-container #contacto .formulario-contacto-container .informacion-contacto ul li {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
  }
  .nosotros-container iframe {
    width: 300px;
    height: 200px;
  }
  .nosotros-container h2 {
    font-size: 2rem;
  }
}
/*FIN NOSOTROS PEQUEÑO*/
/*INICIO NOSOTROS MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .nosotros-container p {
    font-size: 1rem;
  }
  .nosotros-container ul {
    padding-left: 0;
  }
  .nosotros-container ul li {
    align-items: center;
  }
  .nosotros-container h4 {
    font-size: 0.5rem;
    text-align: center;
  }
  .nosotros-container #contacto .tituloFormulario {
    font-size: 3rem;
  }
  .nosotros-container #contacto .formulario-contacto-container {
    display: flex;
    flex-direction: column;
  }
  .nosotros-container #contacto .formulario-contacto-container .informacion-contacto h4 {
    margin: 1rem;
    font-size: 1.5rem;
  }
  .nosotros-container #contacto .formulario-contacto-container .informacion-contacto ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .nosotros-container #contacto .formulario-contacto-container .informacion-contacto ul li {
    padding: 0;
    margin: 0;
  }
  .nosotros-container h2 {
    font-size: 3rem;
  }
}
/*FIN FOOTER MEDIANO*/
/*FIN ESTILO SECCION NOSOTROS*/
/*ESTILOS SECCIÓN NUESTROS PRODUCTOS*/
.productos-container {
  background-image: url(../../img/fondos/nuestros-productos.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.productos-container section div div h2 {
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.productos-container section .productos-precios {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}
.productos-container section .productos-precios .card {
  margin: 2%;
  background-color: rgba(0, 0, 0, 0);
  transition: transform 1s;
}
.productos-container section .productos-precios .card:hover {
  transform: scale(1.1);
}
.productos-container section .productos-precios .card .card-body {
  background-color: rgba(114, 51, 155, 0.8);
}

/*INICIO PRODUCTOS PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .productos-container div .text-center {
    font-size: 2rem;
  }
  .productos-container h5 {
    text-align: center;
  }
}
/*FIN PRODUCTOS PEQUEÑO*/
/*INICIO PRODUCTOS MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .productos-container div .text-center {
    font-size: 3rem;
  }
  .productos-container h5 {
    text-align: center;
  }
}
/*FIN PRODUCTOS MEDIANO*/
/*FIN ESTILO SECCION NUESTROS PRODUCTOS*/
.proxima-entrega-container .entrega-container section, .proxima-entrega-container .entrega-container, .economiaP-container section .ramas-container div div, .index-cuerpo .titulo-index div, .index-cuerpo .contacto-index .contacto, .noticias-container .novedades-container div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*ESTILOS SECCIÓN ECONOMÍA POPULAR*/
.economiaP-container {
  background-image: url(../../img/fondos/economia-pupular1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.economiaP-container .video-economia-popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.economiaP-container .video-economia-popular-container h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.economiaP-container .video-economia-popular-container iframe {
  margin-bottom: 2rem;
  width: 500px;
  height: 315px;
}
.economiaP-container .video-economia-popular-container p {
  background-color: #80461b;
  width: 80%;
  padding: 2rem;
  border-radius: 1rem;
}
.economiaP-container section .ramas-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.economiaP-container section .ramas-container h3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.economiaP-container section .ramas-container div {
  display: flex;
  flex-direction: row;
  background-color: rgba(114, 51, 155, 0.8);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: auto;
  margin-left: 4%;
  padding: 2%;
}
.economiaP-container section .ramas-container div:nth-of-type(even) {
  flex-direction: row-reverse;
  background-color: rgba(242, 101, 45, 0.8);
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 4%;
  margin-left: auto;
}
.economiaP-container section .ramas-container div div {
  background-color: rgba(0, 0, 0, 0);
}
.economiaP-container section .ramas-container div div h4 {
  font-size: 2rem;
}

/*INICIO ECONOMÍA POPULAR PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .economiaP-container .video-economia-popular-container h2 {
    font-size: 2rem;
    text-align: center;
  }
  .economiaP-container .video-economia-popular-container iframe {
    width: 250px;
    height: 155px;
  }
  .economiaP-container .video-economia-popular-container p {
    text-align: justify;
  }
  .economiaP-container section .ramas-container h3 {
    font-size: 2rem;
    text-align: center;
  }
  .economiaP-container section .ramas-container div {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
    align-items: center;
  }
  .economiaP-container section .ramas-container div:nth-of-type(even) {
    flex-direction: column;
  }
  .economiaP-container section .ramas-container div img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .economiaP-container section .ramas-container div div h4 {
    font-size: 1rem;
    text-align: center;
  }
  .economiaP-container section .ramas-container div div p {
    overflow: hidden;
    font-size: 1rem;
  }
}
/*FIN ENCONOMÍA POPULAR PEQUEÑO*/
/*INICIO ECONOMÍA POPULAR MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .economiaP-container .video-economia-popular-container h2 {
    font-size: 3rem;
    text-align: center;
  }
  .economiaP-container p {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .economiaP-container .ramas-container h3 {
    font-size: 3rem;
    text-align: center;
  }
  .economiaP-container .ramas-container div {
    display: flex;
    margin: 3% 0;
    align-items: center;
  }
  .economiaP-container .ramas-container div img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .economiaP-container .ramas-container div div {
    flex-basis: 90%;
  }
  .economiaP-container .ramas-container div div div h4 {
    font-size: 1.2rem;
  }
  .economiaP-container .ramas-container div div div p {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
  }
}
/*FIN ECONOMÍA POPULAR MEDIANO*/
/*FIN ESTILOS ECONOMÍA POPULAR*/
.proxima-entrega-container .entrega-container section, .proxima-entrega-container .entrega-container, .index-cuerpo .titulo-index div, .index-cuerpo .contacto-index .contacto, .noticias-container .novedades-container div div, .economiaP-container section .ramas-container div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ESTILOS SECCIÓN AMBIENTALISMO POPULAR */
.ambientalismo-container {
  background-image: url(../../img/fondos/ambientalismo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.ambientalismo-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ambientalismo-container section h2 {
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.ambientalismo-container section iframe {
  margin-bottom: 2rem;
  width: 500px;
  height: 315px;
}
.ambientalismo-container section p {
  background-color: #404040;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  width: 80%;
  text-align: justify;
}
.ambientalismo-container section .laudato-si a {
  font-size: 1.4rem;
  margin-left: 1rem;
  font-weight: bolder;
  border: #ffffff 3px solid;
  padding: 0.3rem;
}
.ambientalismo-container section .laudato-si a:hover {
  border: #ffffff 3px solid;
  background: #72339b;
  background: linear-gradient(90deg, #72339b 0%, #00b347 44%, #f2652d 100%);
}

/*INICIO AMBIENTALISMO POPULAR PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .ambientalismo-container {
    overflow-x: hidden;
  }
  .ambientalismo-container section h2 {
    font-size: 2rem;
    text-align: center;
  }
  .ambientalismo-container section iframe {
    margin-bottom: 2rem;
    width: 250px;
    height: 155px;
  }
  .ambientalismo-container section .def {
    text-align: justify;
    font-size: 1rem;
  }
  .ambientalismo-container section .laudato-si a {
    font-size: 1rem;
  }
}
/*FIN AMBIENTALISMO POPULAR PEQUEÑO*/
/*INICIO AMBIENTALISMO POPULAR MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ambientalismo-container section h2 {
    font-size: 2rem;
    text-align: center;
  }
  .ambientalismo-container section iframe {
    margin-bottom: 2rem;
  }
  .ambientalismo-container section .laudato-si a {
    font-size: 1rem;
  }
}
/*FIN AMBIENTALISMO POPULAR MEDIANO*/
/*FIN ESTILOS SECCIÓN AMBIENTALISMO POPULAR*/
.proxima-entrega-container .entrega-container section, .proxima-entrega-container .entrega-container, .index-cuerpo .titulo-index div, .index-cuerpo .contacto-index .contacto, .noticias-container .novedades-container div div, .economiaP-container section .ramas-container div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*ESTILOS SECCIÓN ECONOMÍA POPULAR*/
.economiaP-container {
  background-image: url(../../img/fondos/economia-pupular1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.economiaP-container .video-economia-popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.economiaP-container .video-economia-popular-container h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.economiaP-container .video-economia-popular-container iframe {
  margin-bottom: 2rem;
  width: 500px;
  height: 315px;
}
.economiaP-container .video-economia-popular-container p {
  background-color: #80461b;
  width: 80%;
  padding: 2rem;
  border-radius: 1rem;
}
.economiaP-container section .ramas-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.economiaP-container section .ramas-container h3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.economiaP-container section .ramas-container div {
  display: flex;
  flex-direction: row;
  background-color: rgba(114, 51, 155, 0.8);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: auto;
  margin-left: 4%;
  padding: 2%;
}
.economiaP-container section .ramas-container div:nth-of-type(even) {
  flex-direction: row-reverse;
  background-color: rgba(242, 101, 45, 0.8);
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 4%;
  margin-left: auto;
}
.economiaP-container section .ramas-container div div {
  background-color: rgba(0, 0, 0, 0);
}
.economiaP-container section .ramas-container div div h4 {
  font-size: 2rem;
}

/*INICIO ECONOMÍA POPULAR PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .economiaP-container .video-economia-popular-container h2 {
    font-size: 2rem;
    text-align: center;
  }
  .economiaP-container .video-economia-popular-container iframe {
    width: 250px;
    height: 155px;
  }
  .economiaP-container .video-economia-popular-container p {
    text-align: justify;
  }
  .economiaP-container section .ramas-container h3 {
    font-size: 2rem;
    text-align: center;
  }
  .economiaP-container section .ramas-container div {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
    align-items: center;
  }
  .economiaP-container section .ramas-container div:nth-of-type(even) {
    flex-direction: column;
  }
  .economiaP-container section .ramas-container div img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .economiaP-container section .ramas-container div div h4 {
    font-size: 1rem;
    text-align: center;
  }
  .economiaP-container section .ramas-container div div p {
    overflow: hidden;
    font-size: 1rem;
  }
}
/*FIN ENCONOMÍA POPULAR PEQUEÑO*/
/*INICIO ECONOMÍA POPULAR MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .economiaP-container .video-economia-popular-container h2 {
    font-size: 3rem;
    text-align: center;
  }
  .economiaP-container p {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .economiaP-container .ramas-container h3 {
    font-size: 3rem;
    text-align: center;
  }
  .economiaP-container .ramas-container div {
    display: flex;
    margin: 3% 0;
    align-items: center;
  }
  .economiaP-container .ramas-container div img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .economiaP-container .ramas-container div div {
    flex-basis: 90%;
  }
  .economiaP-container .ramas-container div div div h4 {
    font-size: 1.2rem;
  }
  .economiaP-container .ramas-container div div div p {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
  }
}
/*FIN ECONOMÍA POPULAR MEDIANO*/
/*FIN ESTILOS ECONOMÍA POPULAR*/
/* ESTILOS PROXIMA ENTREGA */
.proxima-entrega-container {
  background-image: url(../../img/fondos/entrega.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.proxima-entrega-container .entrega-container section {
  text-align: center;
}
.proxima-entrega-container .entrega-container section h2 {
  margin: 2rem;
  font-size: 3rem;
  text-align: center;
}
.proxima-entrega-container .entrega-container section p {
  width: 80%;
  margin: 2rem;
  background-color: green;
  padding: 2rem;
  border-radius: 1rem;
}
.proxima-entrega-container .entrega-container .formulario {
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
  margin-bottom: 1rem;
}

/*INICIO PRÓXIMA ENTREGA PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .proxima-entrega-container .entrega-container section h2 {
    font-size: 2rem;
  }
  .proxima-entrega-container .entrega-container section iframe {
    width: fit-content;
  }
}
/*FIN PRÓXIMA ENTREGA PEQUEÑO*/
/*INICIO PRÓXIMA ENTREGA MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .proxima-entrega-container .entrega-container section h2 {
    font-size: 2rem;
  }
}
/*FIN PROXIMA ENTREGA MEDIANO*/
/* FIN ESTILOS PROXIMA ENTREGA */

/*# sourceMappingURL=style.css.map */
