/* --------------------------------ESTILOS GENERALES--------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* para todas las secciones */

body {
    background-color: #164620;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23107631' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: white;
    width: 90%;
    margin: auto;
}

/* Fuente de titulos, subtitulos y párrafos */
@font-face {
    font-family: nexaRust;
    src:url(font/nexa-rust.slab-black-shadow-01.otf);
}

@font-face {
    font-family: montserratItalicBold;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap);
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    font-family: nexaRust;
}
h1 {
    text-align: center;
}

/* Estilos de mis elnaces de texto */
.enlace-texto {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
     background-position: 0% 100%;
     background-repeat: no-repeat;
     background-size: 0% 2px;
     transition: background-size .3s;
 }
 
 .enlace-texto:hover, .enlace-texto:focus {
     background-size: 100% 2px;
 }

/* Estilos de navs */

.navegacion-container {
    display: flex;
    justify-content: space space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
 .navegacion-container ul ul {
   display: none;
   position: absolute;
} 

.navegacion-container ul ul li {
    display: block;
}

.navegacion-container ul li:hover ul {
    display: block;
    background: #00b347;
}

ul {
    list-style: none;
}

.logo-pac {
    width: 50px;
}

.menu {
    display: flex;
}

.menu li {
    padding: 10px;
}

/* -----------------------fin estilo de nav--------------------------------- */

/* estilo footer */
.icono-pie {
    width: 20px;
}

/* Estilo de mis divisores de sección */

.lineaNav {
    margin-bottom: 20px;
}

.lineaSeccion {
    margin: 20px;
}
/* ----------------------------------------------FIN ESTILOS GENERALES-------------------------------------- */

/* ------------------------------INDEX------------------------------------------------------- */

/* Estilo imagenes del index */
.imagen-novedades{
    width: 200px;
}

.imagen-ultimas-nov {
    max-width: 100%;
    height: auto;   
}

.ultimas-novedades1-texto {
    text-align: center;
    position: absolute;
    top: 380px; left: 450px;
}
.ultimas-novedades2-texto {
    text-align: center;
    position: absolute;
    top: 730px; left: 330px;
}
.ultimas-novedades3-texto {
    text-align: center;
    position: absolute;
    top: 1050px; left: 130px;
    width: 80%;
}
/* ---------------------------FIN INDEX----------------------------------------------------------- */

/* ------------------------------ESTILOS DE SECCION NUESTROS PRODCUTOS------------------------------------ */

/* Estilo de mi tabla de productos, descripcion y precio */
.nuestros-productos {
    font-family: 'Montserrat', sans-serif;
    background-color: #164620;
    border-collapse: collapse;
}

thead {
    background-color: #426045;
}

td {
    padding: 15px;
}

tr:nth-child(even){
    background-color: #107631;
}

.filas:hover {
    background-color: #00b347;
    font-weight: bold;
    font-style: italic;
    transition: background-color .5s ease-out;
}
/* --------------------------------FIN ESTILOS SECCIÓN NUESTROS PRODUCTOS ----------------------- */

/* ---------------------------ESTILOS SECCION NOSOTROS--------------------------------------- */

/* Estilo del formulario de contacto en sección "Nosotros" */
.formularioContacto {
    box-sizing: border-box;
    background-color: #164620;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.formulario-completo {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.formularioContacto li {
    font-family: 'Montserrat', sans-serif;
}

.tituloFormulario {
    text-align: center;
    font-size: 60px;
    letter-spacing: 10px;
}

.formulario-completar {
    background-color: #107631;
}

.formulario-completar form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario-completar form .entero {
    grid-column: 1/3;
}

.formulario-completar form p {
    margin: 0;
    padding: 0.5em;
}

.formulario-completar form button,
.formulario-completar form input,
.formulario-completar form textarea {
    width: 100%;
    padding: .5em;
    border: none;
    background: none;
    border-bottom: 1px solid #00ff00;
    outline: none;
    color: white;
}

.formulario-completar form button {
    background: #00b347;
    border: 0;
    text-transform: uppercase;
}

.formulario-completar form button:hover,
.formulario-completar form button:focus {
    background: #00ff00;
    transition: background-color 1s ease-out;
    outline: 0;
}

.informacion-contacto {
    background-color: #426045;
}

.informacion-contacto h4,
.informacion-contacto ul,
.informacion-contacto p {
    text-align: center;
    margin: 1em 0 1em 0;
}

 .informacion-contacto li {
    padding: 1em;
}
/* -----------------------------FIN ESTILOS SECCIÓN NOSOTROS ------------------------- */