@import '../components/color-list';
@import '../components/mixin-extend';

/*ESTILOS SECCIÓN ECONOMÍA POPULAR*/

.economiaP-container {
    background-image: url(../../img/fondos/economia-pupular1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    .video-economia-popular-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        iframe {
            margin-bottom: 2rem;
            width: 500px; 
            height: 315px;
        }

        p {
            background-color: nth($colores, 8);
            width: 80%;
            padding: 2rem;
            border-radius: 1rem;
        }
    }
    section {
        .ramas-container {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            h3 {
                
                font-size: 3rem;
                display: flex;
                justify-content: center;
                margin-top: 2.5rem;
            }
    
            div {
                display: flex;
                flex-direction: row;
                background-color: nth($colores, 4);
                border-radius: 1rem;
                align-items: center;
                justify-content: center;
                width: 80%;
                @include margin-tarjeta (3%, 3%, auto, 4%);
                padding: 2%;

            &:nth-of-type(even) {
                flex-direction: row-reverse;
                background-color: nth($colores, 3);
                @include margin-tarjeta (3%, 3%, 4%, auto);
            }
                div {
                    @extend%flex-column-center;
                    background-color: rgba(0, 0, 0, 0);
                    h4 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    
}

/*INICIO ECONOMÍA POPULAR PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .economiaP-container {

        .video-economia-popular-container {
            h2 {
                font-size: 2rem;
                text-align: center;
            }

            iframe {
                width: 250px;
                height: 155px;
            }
            p {
                text-align: justify;
            }
        }
        section {
            .ramas-container {
                h3 {
                    font-size: 2rem;
                    text-align: center;
                }
    
                div {
                    display: flex;
                    flex-direction: column;
                    margin: 3% 0;
                    align-items: center;
                    &:nth-of-type(even) {
                        flex-direction: column;
                    }
                    img {
                        width: 12.5rem;
                        height: 12.5rem;
                    }
    
                    div {
                        h4 {
                            font-size: 1rem;
                            text-align: center;
                        }
    
                        p {
                            overflow: hidden;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

    }
}
/*FIN ENCONOMÍA POPULAR PEQUEÑO*/


/*INICIO ECONOMÍA POPULAR MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .economiaP-container {

        .video-economia-popular-container {
            h2 {
                font-size: 3rem;
                text-align: center;
            }
        }

        .ramas-container {
            h3 {
                font-size: 3rem;
                text-align: center;
            }

            div {
                display: flex;
                margin: 3% 0;
                align-items: center;

                img {
                    width: 12.5rem;
                    height: 12.5rem;
                }

                div {
                    flex-basis: 90%;

                    div {
                        h4 {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

    }
}
/*FIN ECONOMÍA POPULAR MEDIANO*/

/*FIN ESTILOS ECONOMÍA POPULAR*/