@import '../components/color-list';
@import '../components/mixin-extend';

/*ESTILOS SECCION NOTICIAS*/
.noticias-container {
    background-image: url(../../img/fondos/noticias.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    h2,
    h3 {
        text-align: center;
        font-size: 3rem;
    }

    .ultimas-novedades {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1rem;
        padding: 2%;

        .carousel-item {
            img {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10rem;
            }
        }
    }
    .novedades-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    
        div{
            display: flex;
            @include margin-tarjeta (3%, 3%, auto, 4%);
            padding: 2%;
            background-color: nth($colores, 4);
            border-radius: 1rem;
            align-items: center;
            justify-content: center;
            width: 80%;

            &:nth-of-type(even) {
                flex-direction: row-reverse;
                background-color: nth($colores, 3);
                @include margin-tarjeta (3%, 3%, 4%, auto);
            }
            img {
                width: 200px;
                height: 200px;
            }
            div {
                background-color: rgba(0, 0, 0, 0);
                @extend%flex-column-center;
                button {
                    background: none;
                    color: nth($colores, 2);
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                    border:none;
                    text-decoration: none;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .3s;

                    &:hover,
                    &:focus {
                        background-size: 100% 2px;
                        color: nth($colores, 2);
                    }
                }
            }
        }
    }
}


/*INICIO NOTICIAS PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
.noticias-container {

        h2,
        h3 {
            font-size: 2rem;
        }
        .novedades-container {
            display: flex;
            flex-direction: column;
            overflow: hidden;
    
            div {
                display: flex;
                flex-direction: column;
                margin: 3%;
                align-items: center;
                text-align: center;
                &:nth-of-type(even) {
                    flex-direction: column;
                }
                
                    div {
                        h4 {
                            font-size: 1.2rem;
                        }
    
                        p {
                            text-align: justify;
                            font-size: 1rem;
                        }
                    }
                }
            }
    } 
}

/*FIN NOTICIAS PEQUEÑO*/


/*INICIO NOTICIAS MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .logo-pac {
        width: 5rem;
    }

    .noticias-container {

        h2,
        h3 {
            font-size: 3rem;
        }
    }

    .novedades-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        div {
            display: flex;
            margin: 3% 0;
            align-items: center;

            img {
                width: 12.5rem;
                height: 12.5rem;
            }

            div {
                flex-basis: 90%;

                div {
                    h4 {
                        font-size: 1.2rem;
                    }

                    p {
                        text-align: justify;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        font-size: 1rem;
                    }
                }
            }
        }

    }
}
/*FIN NOTICIAS MEDIANO*/

/*FIN ESTILOS SECCION NOTICIAS*/