@import '../components/color-list';
@import '../components/mixin-extend';
@import '../components/queries';

/*ESTILOS SECCION NOTICIAS*/
.noticias-container {
    background-image: url(../../img/fondos/noticias.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    h2,
    h3 {
        text-align: center;
        font-size: 3rem;
    }
}

/* Estilos Novedades Generales */

.novedades-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    div {
        display: flex;
        margin: 3% 0;
        align-items: center;



        &:nth-of-type(even) {
            flex-direction: row-reverse;

            div {
                background-color: nth($colores, 3);

                div {
                    background-color: rgba(0, 0, 0, 0);
                }
            }

        }

        img {
            width: 12.5rem;
            height: 12.5rem;
        }

        div {
            @include tarjeta(nth($colores, 4), 3%, 5px);

            &:hover {
                transform: scale(1.1)
            }

            div {
                flex-direction: column;
                background-color: rgba(0, 0, 0, 0);

                p {
                    text-align: justify;
                    #more {
                        display: none;
                    }
                }

                button {
                    background: none;
                    color: nth($colores, 2);
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                    border:none;
                    text-decoration: none;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .3s;

                    &:hover,
                    &:focus {
                        background-size: 100% 2px;
                        color: nth($colores, 2);
                    }
                }

                h4 {
                    text-align: center;
                }
            }


        }
    }
}

/* Fin estilos Novedades Generales */

/*FIN ESTILOS SECCION NOTICIAS*/