@import '../components/color-list';

/* ESTILOS PROXIMA ENTREGA */

.proxima-entrega-container {
    background-image: url(../../img/fondos/entrega.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;       

    .entrega-container {
        @extend%flex-column-center;
        section {
            @extend%flex-column-center;
            text-align: center;
            h2 {
                margin: 2rem;
                font-size: 3rem;
                text-align: center;
            }
    
            p {
                width: 80%;
                margin: 2rem;
                background-color: green;
                padding: 2rem;
                border-radius: 1rem;
            }
        }
       

        .formulario {
            background-color: rgba(0, 0, 0, .0);
            margin: auto;
            margin-bottom: 1rem;
        }
    }
}


/*INICIO PRÓXIMA ENTREGA PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .proxima-entrega-container {

        .entrega-container {

            section {
                h2 {
                    font-size: 2rem;
                }
                iframe {
                    width: fit-content;
                }
            }
        }
    }
}
/*FIN PRÓXIMA ENTREGA PEQUEÑO*/


/*INICIO PRÓXIMA ENTREGA MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .proxima-entrega-container {

        .entrega-container {

            section {
                h2 {
                    font-size: 2rem;
                }
            }
        }
    }
}
/*FIN PROXIMA ENTREGA MEDIANO*/
/* FIN ESTILOS PROXIMA ENTREGA */