@import '../components/color-list';

/*ESTILOS SECCIÓN NUESTROS PRODUCTOS*/

.productos-container {
    background-image: url(../../img/fondos/nuestros-productos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

    section {
        div {
            div {
                h2 {
                    font-size: 3rem;
                    padding: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }

        .productos-precios {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: center;

            .card {
                margin: 2%;
                background-color: rgba(0, 0, 0, 0);
                transition: transform 1s;

                &:hover {
                    transform: scale(1.1)
                }
    
                .card-body {
                    background-color: nth($colores, 4);
                }
            }
        }
    }

}

/*INICIO PRODUCTOS PEQUEÑO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .productos-container {
        div {
            .text-center {
                font-size: 2rem;
            }
        }

        h5 {
            text-align: center;
        }
    }
}
/*FIN PRODUCTOS PEQUEÑO*/


/*INICIO PRODUCTOS MEDIANO*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .productos-container {
        div {
            .text-center {
                font-size: 3rem;
            }
        }

        h5 {
            text-align: center;
        }

    }
}
/*FIN PRODUCTOS MEDIANO*/

/*FIN ESTILO SECCION NUESTROS PRODUCTOS*/