@import '../components/color-list';

/* ESTILOS NAV */

/* LOGO NAVS */
.logo-pac {
    width: 50px;
}

/* FIN LOGO NAVS*/


/*NAV*/



.navbar {
    position: relative;
    z-index: 1000;
    transition: all ease .65s;
    a {
        &:hover {
            background: rgb(114, 51, 155);
            background: linear-gradient(90deg, rgba(114, 51, 155, 1) 0%, rgba(0, 179, 71, 1) 44%, rgba(242, 101, 45, 1) 100%);
        }
    }

    .navbar-brand {
        &:hover {
            background: none;
        }

    }

}

.dropdown-item {
    background: rgb(0,179,71);
    background: linear-gradient(90deg, rgba(0,179,71,1) 44%, rgba(3,29,11,1) 100%);
    &:hover {
        background-color: nth($colores, 1);
    }

}



nav.scroll {
    background: rgb(0,179,71);
    background: linear-gradient(90deg, rgba(0,179,71,1) 44%, rgba(3,29,11,1) 100%);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}
/*FIN ESTILOS NAV*/